/* -----------------
    google font 
-------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* -----------------
    Body Area 
-------------------*/
body{
    font-family: 'Poppins', sans-serif;
}
/* -----------------
    Header Area
-------------------*/
nav{
    display: flex;
    justify-content: space-between;
    margin: 87px 120px;
}
.logo-area{
    width: 243px;
    height: 52px;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
/* -----------------
    Menu Area
-------------------*/
.menu-item{
    display: flex;
    margin-top: 8px;
}
.menu-item li{
    list-style: none;
    padding-right: 34px;
}
.menu-item li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
}
/* -----------------
    main Area
-------------------*/
.main-area{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 132px;
}
.text-area {
    width: 582px;
    height: 270px;
    margin-top: 55px;
}
.text-area h2 {
    color: black;
    font-weight: 700px;
    font-size: 52px;
    line-height: 70px;
    margin-bottom: 16px;
    width: 582px;
    height: 133px;
}
.text-area p {
    color: black;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
}
.text-area a {
    text-decoration: none;
    padding: 10px 24px;
    color: white;
    background-color: #E02C6D;
    border-radius: 41px;
    font-weight: 700;
    font-size: 16px;
}
.fa-arrow-circle-right{
    padding-left: 8px;
}
.img-area{
    width: 440px;
    height: 414px;
    margin-top: -7px;
    margin-left: 133px;
}
.main-area img {
    width: 440px;
    height: 414px;
    padding: 30px 33px 31px 2px;
}
/* -----------------
    Brand Area
-------------------*/
.popular-text {
    color: black;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
}
.brans-logo{
    margin: 59px 165px;
    Width: 1110px;
    Height: 110px;
}
.brans-logo ul {
    display: flex;
    justify-content: center;
    align-items: center;
    Height: 81px;
    padding: 0 30px;
}
.brans-logo li {
    list-style: none;
    padding: 0 30px;
}
/* -----------------
    Collection Area
-------------------*/
.all-item-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.collection-area {
    margin: 100px 196px;
}
.collection-item{
    width: 359px;
    height: 487px;
    margin: 15px 15px 15px 0;
    padding-bottom: 20px;
}
.collection-item img{
    width: 300px;
    height: 256px;
    margin: 15px;
    border-radius: 5px;
}
.collection-item h3{
    color: black;
    font-weight: 500px;
    font-size: 28px;
    margin: 0 0 6px 14px;
    width: 280px;
    height: 40px;
}
.collection-item h4{
    color: black;
    font-weight: 400;
    font-size: 24px;
    margin: 0 0 6px 14px;
}
.collection-item .star {
    display: flex;
    margin-left: 14px;
    margin-top: 15px;
    width: 122px;
    height: 32px;
}
.collection-item ul {
    display: flex;
    margin-top: 8px;
    padding-left: 0px;
    width: 64px;
}
.collection-item ul li {
    list-style: none;
    color: goldenrod;
    font-size: 8px;
}
.item-box h5{
    margin-top: 5px;
    color: black;
    font-weight: 700;
    font-size: 14px;
    margin-left: 0px;
}
.item-box p {
    color: black;
    font-weight: 400;
    font-size: 14px;
    margin: 0px 0px 0px 14px;
    line-height: 20px;
}
/* -----------------
    Extra Area
-------------------*/
.extra-area{
    margin: 100px 160px;
    height: 250px;
}
.extra-area h2 {
    text-align: center;
    color: black;
    font-weight: 700px;
    font-size: 52px;
    line-height: 70px;
    margin-bottom: 16px;
}
.extra-area p {
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
}
.email-box {
    display: flex;
    justify-content: center;
}
.extra-area input{
    width: 500px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}
.extra-area button{
    text-decoration: none;
    padding: 10px 24px;
    color: white;
    background-color: #E02C6D;
    border-radius: 41px;
    font-weight: 700;
    font-size: 20px;
}
/* -----------------
    Akash Area
-------------------*/
.customer {
    margin-bottom: 50px;
}
.customer h2{
    text-align: center;
}
.reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 150px;
}
.review-box{
    height: 420px;
    margin: 0 20px;
    padding: 10px 15px;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05), 15px 25px 10px rgba(0, 0, 0, 0.05), 15px 20px 20px rgba(0, 0, 0, 0.05), inset -10px -10px 15px rgba(255, 255, 255, 0.9);
}
.review-box p {
    text-align: justify;
    height: 365px;
}
.review-box h5 {
    text-align: left;
}
/* -----------------
    Footer Area
-------------------*/
.last-section {
    height: 200px;
    margin: 0px;
    background-color: #0a0826;
    padding: 45px;
}
.foot-text {
    margin: -10px 0;
}
.last-section h3 {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 24px;
}
.last-section h5 {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 14px;
}
.social-icon {
    display: flex;
    justify-content: center;
}
.social-icon .si{
    color: white;
    background-color: rgba(255, 255, 255, 0.219);
    margin: 0 10px;
    padding: 10px;
    border-radius: 50px;
    font-size: 15px;
    height: 15px;
    width: 15px;
    text-align: center;
}






